.body {
    -fx-background-color: #2d2d2d;
}

.btn {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-width: 30;
    -fx-height: 30;
}

.btn-mode.active {
    -fx-background-color: #00bbff;
}

.btn-op.active {
    -fx-background-color: #00bbff;
}

.text-field-bin,
.text-field-bininfo {
    -fx-font-family: monospace;
    -fx-font-size: 17;
    -fx-padding: 0 1;
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0;
}
.text-field-bin:disabled {
    -fx-opacity: 0.9;
}

.text-field-result {
    -fx-font-family: monospace;
    -fx-font-size: 34;
    -fx-padding: 0 1;
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0;
}